/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ir {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  font-size: 0;
  color: transparent;
}
/*-------------------------------------------- */
/** Variables */
/*-------------------------------------------- *//*-------------------------------------------- */
/** Global Overrides */
/*-------------------------------------------- */
.no-smil path,
.no-smil polyline {
  stroke-dashoffset: 0 !important;
}
.no-csstransitions img {
  filter: 0 !important;
}
/*-------------------------------------------- */
/** Layout */
/*-------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
}
.touch a {
  font-size: 2em;
}
a:hover {
  color: seashell;
}
a.active {
  color: saddlebrown;
}
nav {
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 9;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
}
nav.stuck,
.touch nav {
  position: fixed;
  top: 0;
}
nav.stuck ul,
.touch nav ul {
  padding: 1.5em 0 1.5em 25px;
}
nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 3em 0 3em 23px;
  list-style: none;
  -webkit-transition: padding 0.3s linear;
  -moz-transition: padding 0.3s linear;
  -o-transition: padding 0.3s linear;
  transition: padding 0.3s linear;
  -webkit-backface-visibility: hidden;
}
nav ul:before,
nav ul:after {
  content: " ";
  display: table;
}
nav ul:after {
  clear: both;
}
nav ul li {
  float: left;
  margin-right: 23px;
}
nav,
section,
header {
  display: block;
}
.touch #scroller {
  overflow: auto;
  -webkit-overflow-scrolling: none;
}
/*-------------------------------------------- */
/** Panels */
/*-------------------------------------------- */
.panel {
  position: relative;
  display: block;
  clear: both;
  margin: 0 auto;
  padding: 0 5.859375%;
  overflow: hidden;
  background: cornsilk;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  /* Arrows to next panel */

}
.panel.in-view {
  background: floralwhite;
}
.panel .next,
.panel .prev {
  position: absolute;
  left: 50%;
  bottom: 7.5%;
  z-index: 8;
  margin-left: -38px;
  color: #000;
}
.panel .prev {
  top: 7.5%;
  bottom: auto;
}
.panel .inner {
  height: 100%;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5% 0;
  box-sizing: border-box;
}
.panel .inner:before,
.panel .inner:after {
  content: " ";
  display: table;
}
.panel .inner:after {
  clear: both;
}
.panel .copy {
  position: relative;
  top: 8%;
  width: 40%;
  padding: 5%;
  border: 1px solid silver;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px #c0c0c0;
  box-shadow: 0 0 5px #c0c0c0;
}
.panel img {
  position: relative;
  top: 50%;
  max-width: 50%;
  margin-top: -278px;
}
.panel#first {
  margin-top: 1px;
}
.touch .panel#first {
  margin-top: 0;
}
.panel#first img,
.panel#third img,
.panel#fifth img {
  float: left;
}
.panel#first .copy,
.panel#third .copy,
.panel#fifth .copy {
  float: right;
}
.panel#second img,
.panel#sixth img,
.panel#fourth img {
  float: right;
}
.panel#second .copy,
.panel#sixth .copy,
.panel#fourth .copy {
  float: left;
}
/*-------------------------------------------- */
/** Animation Classes */
/*-------------------------------------------- */
.text-animate {
  position: relative;
  left: 100%;
  letter-spacing: 10em;
}
.in-view .text-animate {
  left: 0;
  right: 0 !important;
  letter-spacing: 0px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.in-view .blur {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.in-view .sepia {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
.slide-up {
  bottom: -100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.in-view .slide-up {
  bottom: 0;
}
.fade-in {
  -webkit-backface-visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
.in-view .fade-in {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.7s linear;
  -moz-transition: opacity 0.7s linear;
  -o-transition: opacity 0.7s linear;
  transition: opacity 0.7s linear;
}
.expand {
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-style: preserve-3d;
}
.in-view .expand {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/*-------------------------------------------- */
/** Cancel Transitions/Adjust for < IE9 */
/*-------------------------------------------- */
.no-csstransitions {
  /* cancel animations instead of having 0-transition pop */

}
.no-csstransitions .text-animate {
  left: 0;
  letter-spacing: 0;
}
.no-csstransitions .slide-right {
  left: 0 !important;
}
.no-csstransitions .slide-up {
  bottom: 0;
}
.no-csstransitions .fade-in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.no-csstransitions .expand {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-csstransitions .rotate {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.no-csstransitions .rotate-to {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.in-view .no-csstransitions .rotate-to {
  -webkit-transform: rotate(130.5deg);
  -moz-transform: rotate(130.5deg);
  -ms-transform: rotate(130.5deg);
  -o-transform: rotate(130.5deg);
  transform: rotate(130.5deg);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.no-csstransitions .mask {
  display: none;
}
/*-------------------------------------------- */
/** Media Queries */
/*-------------------------------------------- */
@media all and (max-width: 768px) {
  .panel .inner {
    text-align: center;
  }
  .panel .copy {
    float: none !important;
    top: 2%;
    width: 100%;
    margin: 0 auto;
  }
  .panel img {
    top: 8%;
    float: none !important;
    max-width: 80%;
    max-height: 60%;
    margin: 0 auto;
  }
  .panel .next,
  .panel .prev {
    margin: 0;
  }
}
