@import 'mixins.less';
@import 'variables.less';
@import 'plugins.less';

/*-------------------------------------------- */
/** Global Overrides */
/*-------------------------------------------- */

.no-smil {
	path,
	polyline {
		stroke-dashoffset: 0 !important;
	}
}
.no-csstransitions img {
	filter: 0 !important;
}

/*-------------------------------------------- */
/** Layout */
/*-------------------------------------------- */

html, body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}
a {
	color: #fff;

	.touch & {
		font-size: 2em;
	}

	&:hover {
		color: seashell;
	}
	&.active {
		color: saddlebrown;
	}
}

nav {
	position: absolute;
	top: 1px;
	left: 0;
	z-index: 9;
	width: 100%;
	margin: 0;
	padding: 0;
	.box-sizing(border-box);
	background: rgba(0, 0, 0, .25);
	-webkit-backface-visibility: hidden;

	&.stuck,
	.touch & {
		position: fixed;
		top: 0;

		ul {
			padding: 1.5em 0 1.5em 25px;
		}
	}

	ul {
		width: 100%;
		margin: 0 auto;
		padding: 3em 0 3em 23px;
		list-style: none;
		.clearfix();
		.transition(padding, .3s, linear);
		-webkit-backface-visibility: hidden;

		li {
			float: left;
			margin-right: 23px;
		}
	}
}

nav,
section,
header {
	display: block;
}

#scroller {

	.touch & {
		overflow: auto;
		-webkit-overflow-scrolling: none;
	}
}

/*-------------------------------------------- */
/** Panels */
/*-------------------------------------------- */

.panel {
	position: relative;
	display: block;
	clear: both;
	margin: 0 auto;
	padding: 0 percentage(75/1280);
	overflow: hidden;
	background: cornsilk;
	-webkit-backface-visibility: hidden;
	.transition(background, .5s, linear);

	&.in-view {
		background: floralwhite;
	}

	/* Arrows to next panel */
	.next,
	.prev {
		position: absolute;
		left: 50%;
		bottom: percentage(60/800);
		z-index: 8;
		margin-left: -38px;
		color: #000;
	}
	.prev {
		top: percentage(60/800);
		bottom: auto;
	}

	.inner {
		height: 100%;
		width: 90%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 5% 0;
		box-sizing: border-box;
		.clearfix;
	}

	.copy {
		position: relative;
		top: 8%;
		width: 40%;
		padding: 5%;
		border: 1px solid silver;
		.box-sizing(border-box);
		.box-shadow(0 0 5px silver);
	}

	img {
		position: relative;
		top: 50%;
		max-width: 50%;
		margin-top: -278px;
	}

	&#first {
		margin-top: 1px;

		.touch & {
			margin-top: 0;
		}
	}
	&#first,
	&#third,
	&#fifth {

		img {
			float: left;
		}
		.copy {
			float: right;
		}
	}

	&#second,
	&#sixth,
	&#fourth {

		img {
			float: right;
		}
		.copy {
			float: left;
		}
	}

}

/*-------------------------------------------- */
/** Animation Classes */
/*-------------------------------------------- */

.text-animate {
	position: relative;
	left: 100%;
	letter-spacing: 10em;

	.in-view & {
		left: 0;
		right: 0 !important;
		letter-spacing: 0px;
		.transition(all, .7s, ease-out);
	}
}
.blur {
	.blur(5px);
	.transition(all, .5s, ease-out);

	.in-view & {
		.blur(0);
	}
}
.sepia {
	.sepia(100%);
	.transition(all, .5s, ease-out);

	.in-view & {
		.sepia(0);
	}
}
.slide-up {
	bottom: -100%;
	.transition(all, .5s, ease-out);

	.in-view & {
		bottom: 0;
	}
}
.fade-in {
	-webkit-backface-visibility: hidden;
	.opacity(0);

	.in-view & {
		.opacity(1);
		.transition(opacity, .7s, linear);
	}
}
.expand {
	.scale(.01);
	-webkit-transform-style: preserve-3d;

	.in-view & {
		.scale(1);
		.transition(all, .4s, ease-out);
	}
}

/*-------------------------------------------- */
/** Cancel Transitions/Adjust for < IE9 */
/*-------------------------------------------- */

.no-csstransitions {

	/* cancel animations instead of having 0-transition pop */
	.text-animate {
		left: 0;
		letter-spacing: 0;
	}
	.slide-right {
		left: 0 !important;
	}
	.slide-up {
		bottom: 0;
	}
	.fade-in {
		.opacity(1);
	}
	.expand {
		.scale(1);
	}
	.rotate {
		.opacity(1);
		.rotate(0deg);
	}

	.rotate-to {
		.rotate(0deg);

		.in-view & {
			.rotate(130.5deg);
			.transition(all, 1s, ease-out);
		}
	}
	.mask {
		display: none;
	}
}

/*-------------------------------------------- */
/** Media Queries */
/*-------------------------------------------- */

@media all and (max-width: 768px) {
	.panel {
		.inner {
			text-align: center;
		}
		.copy {
			float: none !important;
			top: 2%;
			width: 100%;
			margin: 0 auto;
		}
		img {
			top: 8%;
			float: none !important;
			max-width: 80%;
			max-height: 60%;
			margin: 0 auto;
		}

		.next,
		.prev {
			margin: 0;
		}
	}
}
